<footer class="f-c">
  <div class="content flex f-c f-sb mia pad-1">
    <div class="credits">
      <span>© 2025 Nöos Corporation</span>
      <p class="i">Beyond reason, within reach.</p>
    </div>
    <div class="flex gap-1">
      <a href="/contact">Contact</a>
    </div>
  </div>
</footer>
